<h1>Login Page</h1>
<h2 id = "error"></h2>

{{#if hasErrors}}
    <h2 class = "error"> {{errorMessage}} </h2>
{{/if}}


<form method = "POST" id = "login-form">
    <label for = "emailAddressInput">Email Address:</label>
    <input type = "text" id = "emailAddressInput" name = "emailAddressInput">
    <label for = "passwordInput">Password:</label>
    <input type = "password" id = "passwordInput" name = "passwordInput">
    <button type = "submit">Login</button>
</form>

<a href = "/register">Click here to register!</a>